/* .....body.....*/
body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/* .....header..... */
/* navigation menu */
nav {
	background: green;
	width: 100%;
	height: 50px;
}
/* logo */
nav .logo {
	position: absolute;
	top:5px;
	left:1em;
	color: red;
	font-size: 2em;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	padding: 1em;
	
}

nav ul li a {
	color: #eee; 
}

nav ul li a:hover {
	background: black;
	padding: 1em;
	
}
/* header ends here */

.container {
	text-align: center;
	padding: 1em;
}

p {
	margin-top:0px;
	float:right; 
	width:500px;
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	font-size:30px;
	font-weight:bold;
color:maroon;
}

img{
	width:25%;
	float:left;
	margin:10px;
}